.details-description__container{
    width: 100%;
    padding: 5rem 5rem 0 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.details-description__left{
    display: flex;
    flex-direction: row;
}
.details-description__left__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap:1rem;
}
.text-rotation{
    transform: rotate(270deg);
    font-weight: 500;
}
.fa-arrow-down-long:hover {
    scale:1.2;
    cursor:pointer;
}
.details-description__left__right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.details-description__header{
    font-size: 3rem;
}
.details-description__body{
    font-size: 2rem;
}
.details-description__footer{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}

.details-description__color{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 0.5px solid black;
}
.details-description__color:hover{
    cursor: pointer;
    scale: 1.1;
}

.details-description__right{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-heart:hover {
    cursor:pointer;
}